body {
  background: #FFFFFF;
}


main{
    margin-top: 50px;
    text-align: center;
    padding: 0px 200px 0px 200px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E2E2E2;
  width: 100vw;
  height: 55px;
  overflow: auto;
}

.nav_link {
  font-size: 14.25px;
}

.nav_left {
  float: left;
  margin-left: 20px;
  padding: 10px;
  width: auto; 
}

.nav_margin_a{
  margin-right: 16px;
  margin-top: 10px;
}

.nav_right {
    position: relative;
    bottom:30px;
    width: auto;
    height: auto;
  float: right;
  margin-right: 20px;
}

.nav_button {
  height: 32px;
  width: auto;
  background: #316891;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 5px;
}

.nav_center {
  margin-left: 42vw;
  width: auto;
  margin-top: 10px;
}

.nav_logo{
  height: 33px;
  width: auto;
}

.article_header{
    padding: 30px;
    margin-left: 150px;
}

.article_title{
    text-align: left;
    font-size: 40px;
}

.photo{
    width: 900px;
    height: auto;
}

.photo_text{
    text-align: left;
    color: #666;
}

.photo_description{
    font-size: 14px;
}

.photo_author{
    font-size: 11px;
}